# C2-C6

In [347]:
import pandas as pd
import os
import pathlib

month = '02'
type_appareil = [
    'C2-C6',
    'C6-C20',
]

file_directories = [f for f in pathlib.Path().glob(f'../test_data/{month}/*{type_appareil[0]}.Asc')]

C2C6_data = pd.DataFrame()
for file in file_directories:
    asc_data = pd.read_table(file)
    asc_data['Sampling date'] = pd.to_datetime(asc_data['Sampling date']).dt.round('15min')
    asc_data.set_index('Sampling date', inplace=True)
    C2C6_data = pd.concat([C2C6_data, asc_data])

C2C6_data.sort_index(inplace=True)
C2C6_data = C2C6_data[~C2C6_data.index.duplicated(keep='first')]

,Volume,ETHANE,ETHYLENE,PROPANE,PROPENE,I-BUTANE,N-BUTANE,ACETYLENE,TRANS-2-BUTENE,1-BUTENE,...,3-ME-PENTANE,N-HEXANE,ISOPRENE,2-ME-1-PENTENE,2-4-DIME-PENTANE,2-3-DIME-PENTANE,2-ME-HEXANE,BENZENE,Unnamed: 32,Unnamed: 5
Sampling date,,,,,,,,,,,,,,,,,,,,,
2022-01-31 23:30:00,100.88,1.78,0.98,0.96,0.04,0.10,0.32,0.0,0.03,0.00,...,0.00,0.00,0.00,0.63,0.00,0.00,0.02,0.00,NaN,NaN
2022-02-01 00:00:00,100.91,1.77,0.91,0.39,0.00,0.11,0.31,0.0,0.04,0.00,...,0.00,0.00,0.00,0.59,0.00,0.00,0.00,0.00,NaN,NaN
2022-02-01 00:30:00,100.95,1.80,0.89,0.40,0.00,0.10,0.29,0.0,0.00,0.00,...,0.00,0.03,0.00,0.62,0.00,0.02,0.00,0.00,NaN,NaN
2022-02-01 01:00:00,101.00,1.85,0.98,0.28,0.00,0.12,0.26,0.0,0.04,0.00,...,0.00,0.02,0.00,0.62,0.00,0.00,0.00,0.00,NaN,NaN
2022-02-01 01:30:00,101.09,1.72,0.86,0.34,0.00,0.08,0.26,0.0,0.00,0.00,...,0.00,0.00,0.00,0.60,0.00,0.04,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-28 21:00:00,101.72,3.30,8.98,2.29,0.54,0.32,0.67,0.0,0.04,0.00,...,0.03,0.03,1.04,0.00,0.00,0.00,0.00,0.06,NaN,NaN
2022-02-28 21:30:00,101.72,2.79,8.42,1.20,0.52,0.20,0.40,0.0,0.11,0.00,...,0.08,0.00,1.12,0.04,0.00,0.00,0.00,0.03,NaN,NaN
2022-02-28 22:00:00,101.65,2.87,8.44,1.20,0.32,0.24,0.43,0.0,0.05,0.00,...,0.00,0.00,1.04,0.00,0.00,0.00,0.02,0.04,NaN,NaN
2022-02-28 22:30:00,101.65,2.79,8.54,1.19,0.46,0.19,0.39,0.0,0.19,0.18,...,0.00,0.00,1.13,0.08,0.00,0.02,0.00,0.07,NaN,NaN
2022-02-28 23:00:00,101.61,4.17,9.68,2.40,0.63,0.48,0.84,0.0,0.10,0.13,...,0.00,0.05,1.09,0.00,0.04,0.00,0.04,0.81,NaN,NaN

# C6-C20

In [348]:
import pandas as pd
import os
import pathlib

type_appareil = [
    'C2-C6',
    'C6-C20',
]

file_directories = [f for f in pathlib.Path().glob(f'../test_data/{month}/*{type_appareil[1]}.Asc')]

C6C20_data = pd.DataFrame()
for file in file_directories:
    asc_data = pd.read_table(file)
    asc_data['Sampling date'] = pd.to_datetime(asc_data['Sampling date']).dt.round('15min')
    asc_data.set_index('Sampling date', inplace=True)
    C6C20_data = pd.concat([C6C20_data, asc_data])

C6C20_data.sort_index(inplace=True)
C6C20_data = C6C20_data[~C6C20_data.index.duplicated(keep='first')]

,Volume,BENZENE,NAPHTHALENE,Unnamed: 4,2-2-DIME-BUTANE,2-ME-PENTANE,3-ME-PENTANE,1-HEXENE,N-HEXANE,ME-CYCLOPENTANE,...,N-HEXADECANE,N-HEPTADECANE,PHENANTHRENE,N-OCTADECANE,ANTHRACENE,N-NONADECANE,N-EICOSANE,FLUORANTHENE,PYRENE,Unnamed: 63
Sampling date,,,,,,,,,,,,,,,,,,,,,
1992-01-01 00:00:00,0.0,0.0,0.0,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-01-31 00:15:00,1155.2,0.0,0.0,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-01 09:30:00,1154.0,0.0,0.0,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-01 10:30:00,1154.3,0.0,0.0,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-01 11:30:00,1156.8,0.0,0.0,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-28 18:15:00,1160.9,0.0,0.0,NaN,0.01,0.06,0.0,0.01,0.01,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-28 19:15:00,1160.6,0.0,0.0,NaN,0.01,0.07,0.0,0.02,0.02,0.02,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-28 20:15:00,1160.3,0.0,0.0,NaN,0.01,0.08,0.0,0.04,0.00,0.02,...,0.0,0.0,0.01,0.0,0.02,0.0,0.00,0.0,0.0,NaN
2022-02-28 21:15:00,1159.7,0.0,0.0,NaN,0.01,0.06,0.0,0.02,0.01,0.00,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,NaN
2022-02-28 22:15:00,1158.8,0.0,0.0,NaN,0.01,0.06,0.0,0.01,0.01,0.01,...,0.0,0.0,0.00,0.0,0.00,0.0,0.01,0.0,0.0,NaN

In [349]:
C6C20_data.index.drop_duplicates(keep='first')

DatetimeIndex(['1992-01-01 00:00:00', '2022-01-31 00:15:00',
               '2022-02-01 09:30:00', '2022-02-01 10:30:00',
               '2022-02-01 11:30:00', '2022-02-01 12:30:00',
               '2022-02-01 13:30:00', '2022-02-01 14:30:00',
               '2022-02-01 15:30:00', '2022-02-01 16:30:00',
               ...
               '2022-02-28 13:15:00', '2022-02-28 14:15:00',
               '2022-02-28 15:15:00', '2022-02-28 16:15:00',
               '2022-02-28 17:15:00', '2022-02-28 18:15:00',
               '2022-02-28 19:15:00', '2022-02-28 20:15:00',
               '2022-02-28 21:15:00', '2022-02-28 22:15:00'],
              dtype='datetime64[ns]', name='Sampling date', length=502, freq=None)

In [350]:
import datetime as dt
import calendar

def filter_month(
        data: pd.DataFrame,
        year: int,
        month: int,
        day: int = 1,
):
    start_date = dt.datetime(year, month, day)
    day_before_start_date = start_date - dt.timedelta(days=1)

    last_day_of_month = calendar.monthrange(year, month)[1]
    end_date = dt.datetime(year, month, last_day_of_month
                                )
    data = data[day_before_start_date:end_date]
    return (data)

C6C20_data = filter_month(data=C6C20_data, year=2022, month=2)
C6C20_data

,Volume,BENZENE,NAPHTHALENE,Unnamed: 4,2-2-DIME-BUTANE,2-ME-PENTANE,3-ME-PENTANE,1-HEXENE,N-HEXANE,ME-CYCLOPENTANE,...,N-HEXADECANE,N-HEPTADECANE,PHENANTHRENE,N-OCTADECANE,ANTHRACENE,N-NONADECANE,N-EICOSANE,FLUORANTHENE,PYRENE,Unnamed: 63
Sampling date,,,,,,,,,,,,,,,,,,,,,
2022-01-31 00:15:00,1155.2,0.0,0.00,NaN,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-01 09:30:00,1154.0,0.0,0.00,NaN,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-01 10:30:00,1154.3,0.0,0.00,NaN,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-01 11:30:00,1156.8,0.0,0.00,NaN,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-01 12:30:00,1155.6,0.0,0.00,NaN,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-27 19:15:00,1164.5,0.0,0.00,NaN,0.03,0.15,0.0,0.06,0.0,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.01,0.0,NaN
2022-02-27 20:15:00,1165.8,0.0,0.00,NaN,0.33,3.44,0.0,1.17,0.0,0.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-27 21:15:00,1166.6,0.0,0.00,NaN,0.03,0.27,0.0,0.11,0.0,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-27 22:15:00,1166.9,0.0,0.01,NaN,0.15,1.71,0.0,0.70,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
2022-02-27 23:15:00,1167.5,0.0,0.01,NaN,0.03,0.39,0.0,0.29,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN

In [351]:
dum = pd.concat([C2C6_data, C6C20_data], axis=1).sort_index()
dum

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [307]:
start_date = dum.index[0].strftime('%Y-%m-%d %H:%M')
end_date = dum.index[-1].strftime('%Y-%m-%d %H:%M')
xair_dates = pd.date_range(
    start=start_date,
    end=end_date,
    freq='15min')

xair_dates

DatetimeIndex(['2022-01-31 23:30:00', '2022-01-31 23:45:00',
               '2022-02-01 00:00:00', '2022-02-01 00:15:00',
               '2022-02-01 00:30:00', '2022-02-01 00:45:00',
               '2022-02-01 01:00:00', '2022-02-01 01:15:00',
               '2022-02-01 01:30:00', '2022-02-01 01:45:00',
               ...
               '2022-02-28 20:45:00', '2022-02-28 21:00:00',
               '2022-02-28 21:15:00', '2022-02-28 21:30:00',
               '2022-02-28 21:45:00', '2022-02-28 22:00:00',
               '2022-02-28 22:15:00', '2022-02-28 22:30:00',
               '2022-02-28 22:45:00', '2022-02-28 23:00:00'],
              dtype='datetime64[ns]', length=2687, freq='15min')

In [308]:
xair_data = pd.DataFrame(index=xair_dates)
xair_data = pd.concat([xair_data, dum], axis=0)
xair_data.sort_index(inplace=True)

In [309]:
xair_data

,Volume,ETHANE,ETHYLENE,PROPANE,PROPENE,I-BUTANE,N-BUTANE,ACETYLENE,TRANS-2-BUTENE,1-BUTENE,...,3-ME-PENTANE,N-HEXANE,ISOPRENE,2-ME-1-PENTENE,2-4-DIME-PENTANE,2-3-DIME-PENTANE,2-ME-HEXANE,BENZENE,Unnamed: 32,Unnamed: 5
2022-01-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-31 23:30:00,100.88,1.78,0.98,0.96,0.04,0.10,0.32,0.0,0.03,0.00,...,0.0,0.00,0.00,0.63,0.00,0.00,0.02,0.00,NaN,NaN
2022-01-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-01 00:00:00,100.91,1.77,0.91,0.39,0.00,0.11,0.31,0.0,0.04,0.00,...,0.0,0.00,0.00,0.59,0.00,0.00,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-28 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-28 22:30:00,101.65,2.79,8.54,1.19,0.46,0.19,0.39,0.0,0.19,0.18,...,0.0,0.00,1.13,0.08,0.00,0.02,0.00,0.07,NaN,NaN
2022-02-28 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-28 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-28 23:00:00,101.61,4.17,9.68,2.40,0.63,0.48,0.84,0.0,0.10,0.13,...,0.0,0.05,1.09,0.00,0.04,0.00,0.04,0.81,NaN,NaN